<% layout("/layouts/boilerplate") %>

<h4 style="text-align: center;margin-top: 1rem;" >Search Results for "<%= search %>"</h4>

<br>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for (let listing of listings) { %>
    <a href="/listings/<%=listing._id%>" class="listlink">
      <div class="card listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing image"
          style="height: 19rem"
        />

        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b> <%= listing.title %> </b><br />
            &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
              <i class="tax_info"> &nbsp;&nbsp;+18% GST</i>
          </p>

           
        </div>
      </div>
    </a>
    <% } %>
  </div>
</div>